/******************************************************************
*******************************************************************

									
*******************************************************************
******************************************************************/
									
									
/******************************************************************
This is the CSS Reset
******************************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	height: auto;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/******************************************************************
TEXT SELECTION STYLES
******************************************************************/
/* Safari, Chrome, iPhones, iPads */
::selection {
 background:#659cb6;
 color:#fff;
}
::-moz-selection {
 background:#659cb6;
 color:#fff;
}
::-webkit-selection {
 background:#659cb6;
 color:#fff;
}
a {
	color: #659cb6;
	outline: none;
}
/******************************************************************
General CSS
******************************************************************/
									
#content {
	flex:0.9;
	padding-right: 50px;
	padding-top: 20px;
	margin-left: 200px;
	z-index: 0;
}
small {
	font-family: 'Calibri Light', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #848484;
	font-size: 12pt;
}
p {
	font-family: 'Calibri Light', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #848484;
	font-size: 14pt;
}
h1 {
	font-family: 'Calibri Bold', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 36pt;
}
h2 {
	font-family: 'Calibri', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 30pt;
	font-weight: bold;
}
h3 {
	font-family: 'Calibri Bold', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 24pt;
	font-weight: bold;
}
h4 {
	font-family: 'Calibri Bold', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 18pt;
	font-weight: bold;
}
h5 {
	font-family: 'Calibri Bold', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 16pt;
	font-weight: bold;
}
h6 {
	font-family: 'Calibri Light', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 10pt;
	position: relative;
}
/***************************************************
COLUMNS and FEATURES
***************************************************/

.one, .one-half, .two-third, .one-third, .one-fourth {
    float: none;
    display: flex;
    flex: 0.9;
    margin-right: 0;
    box-sizing: border-box; 
}

.one {
    flex-basis: 90%;
}

.one-half {
    flex-basis: 45%;
}

.two-third {
    flex-basis: 60%;
}

.one-third {
    flex-basis: 30%;
}

.one-fourth {
    flex-basis: 21.6%;
}

.one-half-last, .two-third-last, .one-third-last, .one-fourth-last {
    float: none;
    display: flex;
    flex: 0.9;
    margin-right: 0;
    box-sizing: border-box;
}

.one-half-last {
    flex-basis: 45%;
}

.two-third-last {
    flex-basis: 60%;
}

.one-third-last {
    flex-basis: 30%;
}

.one-fourth-last {
    flex-basis: 21.6%;
}

.container {
    display: flex;
    flex-wrap: wrap; 
}

/* 让最后一个元素没有右边距 */
.one-half:nth-last-child(2), .two-third:nth-last-child(2), .one-third:nth-last-child(2), .one-fourth:nth-last-child(2),
.one-half-last:nth-last-child(2), .two-third-last:nth-last-child(2), .one-third-last:nth-last-child(2), .one-fourth-last:nth-last-child(2) {
    margin-right: 0;
}
.clear {
	clear: both;
}
.dropcap {
	font-family: Verdana, Arial, sans-serif;
	font-size: 36px;
	color: #333;
	width:32px;
	height:30px;
	float:left;
	padding:5px 5px 5px 5px;
	text-align:center;
	margin:5px 5px 5px 5px;
}
blockquote {
	font-style:italic;
	font-size:20px;
	margin-right:20px;
	padding-left:20px;
	margin-left:20px;
	margin-top: 60px;
	margin-bottom: 60px;
	font-family: 'Droid Serif', Verdana, Arial, sans-serif;
	color:#333;
	text-align: center;
	background-image: url(../images/blockquote.png);
	background-repeat: no-repeat;
	background-position: left top;
}

a:hover {
	color: #659cb6;
}
.spacer {
	height: 1px;
	clear: both;
	border-bottom: 1px;
	border-style: solid;
	border-color: #d6d6d6;
	margin: 20px auto; 
	width: 360px;
}
.blank-spacer {
	width: 360;
	height: 1px;
	clear: both;
	margin: 10px 5px 10px 5px;
	padding: 10px 5px 10px 5px;
}
#error {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 300px;
}

/******************************************************************
Header & Menu CSS
******************************************************************/
#menu-wrapper {
    height: 100vh; /* 让菜单区域的高度覆盖整个视口 */
    width: 16.67%;
    background: #ffffff00; /* 设置背景颜色 */
    float: left;
    position: fixed; /* 确保菜单区域始终固定在页面左侧 */
    top: 0;
    left: 0;
}

#profile {
    text-align: left;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
	padding-left: 30px;
    padding: 20px 0;
    z-index: 1000; /* 确保它在其他内容上方 */
}
#profile-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
	margin-top: 20px;
    margin-bottom: 10px;
	margin-left: 30px;
	float: center;
}
#profile h2 {
    margin: 5px 30px 5px;
    font-size: 18px;
    color: #333;
}
#profile p {
    margin: 0px 30px;
    font-size: 12px;
    font-family: 'Calibri Light', Verdana, Arial, sans-serif;
    color: #666;
}

#profile a {
    color: #666;
    text-decoration: none;
}
#main-menu {
	position: fixed;
	padding-top: 270px;
	padding-left: 30px;
	font-family: 'Calibri Light', Verdana, Arial, sans-serif;
	text-align: left;
}
#main-menu a {
	color: #707070;
	text-decoration: none;
	font-size: 10pt;
	line-height: 1.2; 
}
#main-menu a:hover {
	color: #659cb6;
}
#main-menu li {
	padding: 5px 0 5px 0;
}
#main-menu a.selected {
	color: #659cb6;
	font-family: 'Calibri', Verdana, Arial, sans-serif;
	font-weight: bold;
}

#footer h6 {
	font-size: 10px;
	position: fixed;
	bottom: 10px;
	left: 20px;
}
/******************************************************************
Welcome CSS
******************************************************************/
.welcome {
    text-align: center; 
    padding: 10px; 
    font-family: 'Calibri Light', Verdana, Arial, sans-serif; 
    padding-left: 7%;
    padding-right: 7%;
}

.welcome p {
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
    color: #659cb6;
    font-style: italic; /* 将文本设置为斜体 */
}

/******************************************************************
About us CSS
******************************************************************/

.about {
	padding-top: 15px;
	flex:1;
	padding-bottom: 15px;
	padding-left: 7%;
	padding-right: 7%;
	line-height: 1.5;
}
.about p {
	text-align: justify;
	font-size: 14px;
	line-height: 1.5;
}

/******************************************************************
Portfolio CSS
******************************************************************/
.portfolio {
	padding-top: 15px;
	flex:1;
	padding-bottom: 0px;
	padding-left: 7%;
	padding-right: 7%;
}
.portfolio p {
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 14px;
}

/*************Filter****************/
#filter {
	display: block;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 30px;
	position: relative;
	text-align: center;
	flex: 1;
}

.filter-btn {
	font-family: 'Calibri', Verdana, Arial, sans-serif;
	font-size: 16px;
	color: #666;
	text-decoration: none;
	height: 50px;
	line-height: 37px;
	transition: color 0.3s;
	padding: 10px 2.5%;
	border: none;
	background-color: #ffffff;
	cursor: pointer;
	/* 防止边缘和放大效果 */
	box-shadow: none;
	transform: none;
	font-weight: bold;
}

.filter-btn:hover {
	color: #659cb6;
	/* 防止边缘和放大效果 */
	border: none;
	box-shadow: none;
	transform: none;
}

.filter-btn.active {
	font-family: 'Calibri', Verdana, Arial, sans-serif;
	color: #659cb6;
	/* 防止边缘和放大效果 */
	box-shadow: none;
	transform: none;
}



/*************container****************/
#container {
	display: flex; 
	justify-content: center;
	align-items: center;
	overflow: hidden;
	flex-wrap: wrap;
	margin: 0;
}

#container li {
	list-style: none;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
	margin-bottom: 20px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: top; /* 垂直居中内容 */
	align-items: center;     /* 水平居中内容 */
	width: 320px;  /* 增加宽度 */
	height: 250px; /* 增加高度 */
	overflow: hidden; /* 确保子元素不溢出 */
}

#container li img {
	width: 320px;  /* 增加宽度 */
	height: 210px; /* 增加高度 */
	object-fit: cover; /* 保持比例，裁剪超出部分 */
	display: block;
	border-radius: 5px;
	margin-bottom: 8px;
}

#container li .overlay {
	position: absolute;
	top: 0;
	left: 0px;
	width: 100%;
	height: 210px;
	background: rgba(0, 0, 0, 0.7); /* 灰色蒙版 */
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.5s;
	border-radius: 5px;
}

#container li:hover .overlay {
	opacity: 1;
}

#container li .overlay p {
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
}

#container li p {
	margin-left: 0px;
	font-size: 14px;
}

#container li h5 {
	margin-left: 0px;
	text-align: left;
	font-size: 14px;
}

#container li a:hover {
	color: #121212;
}

#container ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#container ul.hidden {
	display: none;
}

/******************************************************************
This CSS is for the project page
******************************************************************/
.project {
	flex:1;
	padding-top: 0px;
	padding-right: 0px;
}
.project p {
	text-align: justify;
	font-size: 14px;
	line-height: 1.25;
	padding-top: 10px;
	padding-bottom: 10px;
}
.project h3 {
	font-size: 24px;
}
.project small {
	text-align: center;
	font-size: 10px;
	line-height: 1.5;
	margin: 0 auto; /* 自动水平居中 */
}
.carousel {
	position: relative;
	width: 80%; /* 容器宽度 */
	margin: 0 auto;
	overflow: hidden; /* 超出部分隐藏 */
}
  
.carousel-images {
	display: flex;
	transition: transform 0.8s ease;
}
.project-image {
	width: 100%; /* 保持宽度 */
	height: auto;
	flex-shrink: 0; /* 确保图片不会收缩 */
}

button.prev, button.next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5); /* 半透明背景 */
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	font-size: 18px;
	z-index: 10; /* 添加 z-index 让按钮位于图片之上 */
}
  
button.prev {
	left: 0;
}
  
button.next {
	right: 0;
}
#description {
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 0px;
	float: left;
	position: relative;
    z-index: 0; /* 确保 z-index 为正常值，不影响点击 */
}

.related-work {
	clear: both;
	flex: 0.9;
	padding-right: 10px;
	padding-left: 60px;
	padding-top: 30px;
	text-align: left;
	margin-bottom: 20px; /* 添加底部外边距 */
}

#description h6 {
	font-family: 'Calibri Light', Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 10pt;
	position: relative;
	z-index: 1000;     /* 保证元素不被其他内容遮挡 */
}

#description h6 a {
	color: #666; /* 继承父元素的颜色，保持与 h6 一致 */
	text-decoration: none; /* 去掉下划线 */
	z-index: 1000;     /* 保证元素不被其他内容遮挡 */
	pointer-events: auto; /* 确保链接可以点击 */
}
  
#description h6 a:visited {
	color: #666; /* 保持已访问过的链接颜色一致 */
	text-decoration: none; /* 已访问过的链接无下划线 */
}
  
#description h6 a:hover {
	text-decoration: none; /* 悬停时显示下划线，可根据需要保留或去掉 */
	color: #659cb6
}
  
#description h6 a:active {
	color: #666; /* 点击时保持颜色不变 */
	text-decoration: none; /* 点击时无下划线 */
}

/*************container-p****************/
#container-p {
	display: flex; 
	justify-content: left;
	align-items: left;
	overflow: hidden;
	flex-wrap: wrap;
	margin: 0;
}

#container-p li {
	list-style: none;
	margin-left: 0px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 20px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: top; /* 垂直居中内容 */
	align-items: center;     /* 水平居中内容 */
	width: 300px;  /* 增加宽度 */
	height: 250px; /* 增加高度 */
	overflow: hidden; /* 确保子元素不溢出 */
}

#container-p li img {
	width: 300px;  /* 增加宽度 */
	height: 200px; /* 增加高度 */
	object-fit: cover; /* 保持比例，裁剪超出部分 */
	display: block;
	border-radius: 5px;
	margin-bottom: 8px;
}

#container-p li .overlay {
	position: absolute;
	top: 0;
	left: 0px;
	width: 100%;
	height: 200px;
	background: rgba(0, 0, 0, 0.7); /* 灰色蒙版 */
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.5s;
	border-radius: 5px;
}

#container-p li:hover .overlay {
	opacity: 1;
}

#container-p li .overlay p {
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
}

#container-p li p {
	margin-left: 0px;
}

#container-p li h5 {
	margin-left: 0px;
	text-align: left;
	font-size: 18px;
}

#container-p li a:hover {
	color: #121212;
}

#container-p ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#container-p ul.hidden {
	display: none;
}

/******************************************************************
This is the buttons and inputs CSS
******************************************************************/

.button {
	font-family: 'Calibri Light', Verdana, Arial, sans-serif;
	font-size:12px;
	text-align:center;
	text-decoration:none;
	padding-top: 5px;
	height: 34px;
	padding-right: 10px;
	padding-bottom: 7px;
	padding-left: 10px;
}
.btncolor, .btncolor:focus, .btncolor:hover {
	background:#ffffff00;
	color:#999;
}
#lang-switch {
	top: 20px;
	right: 20px;
	position: fixed;   /* 固定在页面 */
    width:50%;       /* 使它占据全宽 */
    z-index: 1;     /* 确保它位于其他内容的上方 */
    text-align: right; /* 按钮居中显示 */
}
#lang-switch button {
	background: #ffffff00;
	color: #666;
	border: none;
	padding: 5px 5px;
	cursor: pointer;
	margin-left: 5px;
	outline: none; 
}
#lang-switch button.selected,
#lang-switch button:hover {
	background: #f1f1f1;
	color: #659cb6;
	border: none;
	box-shadow: none;
	cursor: pointer;
	outline: none; 
	border-radius: 10px;
}

#pdf-container {
	flex: 1;
	overflow: auto;
	margin-left: 40px;
	margin-right: 40px;
}
iframe {
	width: 100%;
	height: 1200px;
}
